* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

html {
	--bg: #ffffff;
	--white: #ffffff;
	--black: #000000;
	--gray: #111827;
	--gray-50: #f9fafb;
	--gray-300: #d1d5db;
	--gray-400: #dfdddd;
	--gray-500: #6b7280;
	--gray-600: #dfdddd;
	--gray-700: #374151;
	--gray-800: #363636;
}

html.dark {
	--bg: #121212;
	--white: #2e2e2f;
	--black: #ffffff;
	--gray: #ffffff;
	--gray-50: #4b4b4b;
	--gray-300: transparent;
	--gray-400: #787878;
	--gray-500: #9ca3af;
	--gray-600: #2e2e2f;
	--gray-700: #ffffff;
	--gray-800: #ffffff;
}

body {
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--bg);
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 1rem 2.5rem;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	font-family: inherit;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header {
	height: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('/assets/header.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 16px;
	color: #ffffff;
}

header .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

header h1 {
	font-size: 2.674rem;
	font-weight: 800;
}

header .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a {
	color: #ffffff;
	position: relative;
}

header a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	background: #ffffff;
	transition: all 0.3s ease-in-out;
	width: 0;
}

header a:hover::before {
	width: 100%;
}

header form {
	position: absolute;
	bottom: -7.5%;
	width: 100%;
}

header .input-field {
	border: 1px solid var(--gray-300);
	background: var(--white);
	border-radius: 8px;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	padding-left: 1rem;
	box-shadow: 0px 1px 2px 0px #0000000d;
}

header .input-field input,
header .input-field button {
	height: 100%;
}

header .input-field input {
	border: none;
	outline: none;
	background: transparent;
	flex: 1;
	padding-inline: 0.5rem;
	color: var(--gray-500);
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
}

header .input-field button {
	color: var(--gray-700);
	background: var(--gray-50);
	width: 7.5rem;
	border-left: 1px solid var(--gray-300);
	font-size: 1rem;
	font-weight: 500;
}

header .toggle {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	color: #ffffff;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 0.5rem;
}

.empty-state {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.empty-state p {
	color: var(--gray-600);
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0.5rem;
	text-align: center;
	max-width: 500px;
}

.empty-state a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.25rem;
	color: var(--gray-800);
	font-weight: bold;
	margin-top: 1.5rem;
}

.empty-state svg path {
	fill: var(--gray-600);
}

.empty-state.watchlist-empty svg path {
	fill: var(--gray-800);
}

.empty-state.watchlist-empty p {
	color: var(--gray-400);
}

.movie-list {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
}

.movie {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.25rem;
	text-align: center;
}

.movie-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 1.25rem;
}

.movie img {
	width: 100%;
	height: 23.5rem;
	border-radius: 3px;
	object-fit: cover;
}

.movie h2 {
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 500;
}

.movie button {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	font-size: 1rem;
	color: var(--gray);
}

.movie button svg path {
	fill: var(--gray);
}

@media (max-width: 769px) {
	.movie-list {
		grid-template-columns: 1fr 1fr;
	}

	.movie img {
		height: 33.5rem;
	}
}

@media (max-width: 550px) {
	header {
		height: 208px;
	}

	header h1 {
		font-size: 1.5rem;
	}

	.empty-state p {
		font-size: 1.5rem;
	}

	.movie-list {
		margin-top: 4rem;
	}

	.movie h2 {
		font-size: 1rem;
	}
}

.hidden {
	display: none;
}

@media (max-width: 480px) {
	header .input-field {
		padding-left: 0.5rem;
	}

	header form {
		bottom: -10.5%;
	}

	header .input-field input {
		font-size: 0.875rem;
	}

	header .input-field button {
		width: 5rem;
		font-size: 0.875rem;
	}

	.empty-state p {
		font-size: 1.125rem;
	}

	.movie-list {
		grid-template-columns: 1fr;
	}
}
